body {
    width:100%;
    height:100%;
    // color: red;
}


.clear{clear:both;}
.bookType{clear:both;border-radius:5px;}
.bookType li{
    list-style-type: none;
    float:left;
    width:80px;
    height:40px;
    line-height: 40px;
    background:lightblue;
    text-align:center;
    color:#fff;
    cursor:pointer;
}
.bookType li.active{background:#359ECC;}

.bookList{margin:10px;}
.bookList th,td{
    padding:5px 20px;
    border:1px solid #ccc;
}
